* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.article {
  width: 320px;
  box-shadow: 0 0.7961918735236395px 2.3885756205709185px -0.625px #0000000d,
    0 2.414506143104518px 7.2435184293135535px -1.25px #0000000d,
    0 6.382653521484461px 19.147960564453385px -1.875px #0000000d,
    0 20px 60px -2.5px #0000000d;
  overflow: hidden;
  font-family: "Inter", sans-serif;
  ackground-color: #ffffff;
   margin-left: auto;
   margin-right: auto;
}

.article__thumbnai {
  width: 85%;
  height: 280px;
  object-fit: cover;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
  margin:0px 13.6125px 20px 13.6px;
}

.article__meta {
  padding: 30px;
}

.article5 {
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  color: #001122;
  letter-spacing: -0.5px;
  margin-bottom: 20px;
}

.article__excerpt {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
  color: #666666;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  margin:0px 13.6125px 20px 13.6px;
}

.article__read-more {
  color: #001d66;
  display: inline;
  font-family: Josefin Slab;
  font-size: 13.913px;
  font-weight: 700;
  margin-left: auto;
  margin-right: auto;
  margin:0px 13.6125px 20px 13.6px;
}
.article {
  color: #00257f;
  font-family: Josefin Slab;
  font-size: 32px;
  font-weight: 700;
  text-transform: capitalize;
  margin-top:0%;
  margin-left: auto;
  margin-right: auto;
  position:relative;
}
.article1 {
  background-color: #ffffff;
}
.article0 {
  align-items: center;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: 1456.8px;
  grid-template-rows: 84.7125px 637.987px 9.85px 9.85px;
  background-color:#ffffff;
}
.article4 {
  font-family: Josefin Slab;
  font-size: 32px;
  font-weight: 700;
  text-transform: capitalize;
  color: #ffffff;
  background-color: #333333;
  justify-content: center;
}
.article2 {
  width: 320px;
  height: 628.15px;
  padding: 20px 20px 20px 20px;
  min-height: auto;
  min-width: auto;
}
 .article3{
 border:5px solid rgb(249, 250, 249);
 width:60%
 margin-top:0%;
 margin: bottom 0%;
 margin-left:auto;
 margin-right:auto;
}  