.heading {
  background-color: rgb(255, 0, 17);
  color: rgb(0, 0, 0);
  text-decoration: underline;
}
.heading1 {
  background-color: rgb(226, 43, 43);
  font-size: 21px;
}
.heading2 {
  background-color: rgb(1, 0, 1);
  color: aliceblue;
  text-decoration: underline;
}
.heading3 {
  background-color: rgb(3, 0, 6);
  color: aliceblue;
  font-size: 21px;
}
.heading4 {
  background-color: mediumblue;
  color: rgb(0, 0, 0);
  text-decoration: underline;
}
.heading5 {
  background-color: blue;
  color: black;
  font-size: 21px;
}
.icon {
  background-color: rgb(73, 165, 42);
  display: flex;
  justify-content: center;
}
