/* 
- Container (vùng chứa - vùng hiển thị nội dung)
- Row (hàng - chứa các cột/ô/cell)
- Cell/Column (ô chứa nội dung)
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 1020px;
  margin-left: auto;
  margin-right: auto;
  padding-inline: 10px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: -20px;
  margin-inline: -10px;
}

.row > [class*="col-"] {
  margin-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.col-1 {
  width: 8.333333%;
}

.col-2 {
  width: 16.666667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.333333%;
}

.col-5 {
  width: 41.666667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.333333%;
}

.col-8 {
  width: 66.666667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.333333%;
}

.col-11 {
  width: 91.666667%;
}

.col-12 {
  width: 100%;
}

/* Utility classes */
.display-flex {
  display: flex;
}

.flex-direction-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-content-start {
  justify-content: flex-start;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-end {
  justify-content: flex-end;
}

.align-items-stretch {
  align-items: stretch;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-center {
  align-items: center;
}

.align-items-end {
  align-items: flex-end;
}

img {
  max-width: 100%;
  object-fit: cover;
}
