.container {
  max-width: 960px;
  margin: 0px auto;
}
#header {
  background-color: #0c0c0c;
}
.nav {
  display: flex;
  justify-content: space-between;
  justify-items: center;
}

#main-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
#main-menu li a {
  color: #9ca3af;
  display: block;
  padding: 12px 20px;
  text-decoration: none;
  font-family: Roboto;
}

#main-menu ul.sub-menu {
  position: absolute;
  background-color: #0c0c0c;
  padding: 15px 0px;
  list-style: none;
  width: 200px;
  border-bottom: 1px solid #3e3e3e;
  display: none;
}
#main-menu li:hover ul.sub-menu {
  display: block;
}

#main-menu ul.sub-menu a {
  padding: 8px 15px;
  border-bottom: 1px solid #0c0c0c;
}
#main-menu ul.sub-menu li:last-child a {
  border-bottom: 1px solid #3e3e3e;
}

#main-menu ul.sub-menu li:last-child a {
  border: none;
}
#main-menu > li > a {
  position: relative;
}
#main-menu > li > a::before {
  content: "";
  height: 4px;
  width: 0px;
  background: #9ca3af;
  position: absolute;
  bottom: 0px;
  display: none;
  transition: 0.25scubic-bezier(0.075, 0.82, 0.165, 1);
}
#main-menu > li:hover > ::before {
  display: block;
}

.container {
  font-family: Roboto;
  display: grid;
  grid-template-columns: auto;
  margin: auto;
}

body {
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: #ffffff;
  margin: 0;
  padding: 0;
  overflow-x: auto; /* Allow horizontal scrolling if needed */
}

.container {
  padding: 20px;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.movie-blocks {
  display: flex;
  flex-wrap: nowrap; /* Ensure items don't wrap to the next line */
  gap: 20px;
}

.movie-block {
  background-color: #1f1f1f;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  width: 170px;
  text-align: center;
  flex-shrink: 0; /* Prevent the item from shrinking */
}

.movie-block img {
  width: 100%;
  height: auto;
  display: block;
}

.info {
  padding: 10px;
}

.title {
  font-size: 14px;
  font-weight: bold;
}

.subtitle {
  font-size: 12px;
  color: #ffba00;
}

.badge {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #ffba00;
  color: #000000;
  padding: 5px;
  font-size: 10px;
  border-radius: 3px;
}

.badge.completed {
  top: auto;
  bottom: 10px;
  right: 10px;
  left: auto;
  background-color: #00ff00;
  color: #000000;
}
