* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.josefin-slab {
  color: #1c1d1d;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 36px;
  font-weight: 700;
  margin: 0px 0px 20px;
  text-align: center;
}
.article-list {
  display: flex;
  justify-content: center;
  gap: 0px;
}
.article {
  width: 320px;
  box-shadow: 0 0.7961918735236395px 2.3885756205709185px -0.625px #0000000d,
    0 2.414506143104518px 7.2435184293135535px -1.25px #0000000d,
    0 6.382653521484461px 19.147960564453385px -1.875px #0000000d,
    0 20px 60px -2.5px #0000000d;
  overflow: hidden;
  font-family: "Inter", sans-serif;
  cursor: pointer;
}

.article__thumbnail {
  width: 100%;
  height: 240px;
  object-fit: cover; /* xử lý méo ảnh */
  vertical-align: middle; /* Loại bỏ phần khoảng trắng dưới ảnh */
}

/**/

img {
  vertical-align: middle;
}
.articcle_img {
  margin: 1px auto;
  border: 1px solid #ffffff;
  height: auto;
  overflow: hidden;
  position: relative;
  width: 200px;
}
.articcle_img img {
  max-width: 100%;
  transition: all 0.5s;
}

.articcle_img .article__thumbnail {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 1;
}
.articcle_img:hover .article__thumbnail {
  opacity: 0;
}

/*  */

.article__meta {
  padding: 30px;
}

.article__title {
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  color: #001122;
  letter-spacing: -0.5px;
  margin-bottom: 20px;
}

.article__excerpt {
  color: #1c1d1d;
  font-size: 20.06px;
  letter-spacing: 0.425px;
  line-height: 30.09px;
  text-align: left;
}

.article__read-more {
  color: #fcbc2c;
  display: inline;
  font-size: 17px;
  letter-spacing: 0.425px;
  line-height: 25.5px;
  text-align: left;
}
.heading {
  font-size: 32px;
  font-weight: 700;
  word-spacing: 0px;
  color: #1c1d1d;
  margin-bottom: 77px;
  text-align: center;
  margin-top: 30px;
}
